--
-- PostgreSQL database dump
--

\restrict dfqWqDd305Ca9ldj5Zjhtayho2fsQAtUCpY2fffN47W2MwWqapAD8OKb7hypssn

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: plans; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.plans (
    name character varying(255) NOT NULL,
    description text,
    start_date date NOT NULL,
    end_date date NOT NULL,
    status character varying(50) NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: runs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.runs (
    plan_id uuid NOT NULL,
    workout_id uuid,
    distance_miles double precision NOT NULL,
    pace_sec_per_mile integer NOT NULL,
    date timestamp with time zone NOT NULL,
    source character varying(50) NOT NULL,
    notes character varying,
    external_id character varying(255),
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: workouts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workouts (
    plan_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    workout_type character varying(50) NOT NULL,
    planned_distance double precision NOT NULL,
    target_pace_min_sec integer,
    target_pace_max_sec integer,
    scheduled_date date,
    notes character varying,
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Data for Name: plans; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: runs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.runs (plan_id, workout_id, distance_miles, pace_sec_per_mile, date, source, notes, external_id, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: workouts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: plans plans_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.plans
    ADD CONSTRAINT plans_pkey PRIMARY KEY (id);


--
-- Name: runs runs_external_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.runs
    ADD CONSTRAINT runs_external_id_key UNIQUE (external_id);


--
-- Name: runs runs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.runs
    ADD CONSTRAINT runs_pkey PRIMARY KEY (id);


--
-- Name: workouts workouts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workouts
    ADD CONSTRAINT workouts_pkey PRIMARY KEY (id);


--
-- Name: ix_plans_dates; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_plans_dates ON public.plans USING btree (start_date, end_date);


--
-- Name: ix_plans_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_plans_name ON public.plans USING btree (name);


--
-- Name: ix_plans_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_plans_status ON public.plans USING btree (status);


--
-- Name: ix_runs_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_runs_date ON public.runs USING btree (date);


--
-- Name: ix_runs_external_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_runs_external_id ON public.runs USING btree (external_id);


--
-- Name: ix_runs_plan_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_runs_plan_date ON public.runs USING btree (plan_id, date);


--
-- Name: ix_runs_plan_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_runs_plan_id ON public.runs USING btree (plan_id);


--
-- Name: ix_workouts_plan_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_workouts_plan_id ON public.workouts USING btree (plan_id);


--
-- Name: ix_workouts_plan_scheduled; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_workouts_plan_scheduled ON public.workouts USING btree (plan_id, scheduled_date);


--
-- Name: ix_workouts_scheduled_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_workouts_scheduled_date ON public.workouts USING btree (scheduled_date);


--
-- Name: runs runs_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.runs
    ADD CONSTRAINT runs_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.plans(id) ON DELETE CASCADE;


--
-- Name: runs runs_workout_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.runs
    ADD CONSTRAINT runs_workout_id_fkey FOREIGN KEY (workout_id) REFERENCES public.workouts(id) ON DELETE SET NULL;


--
-- Name: workouts workouts_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workouts
    ADD CONSTRAINT workouts_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.plans(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict dfqWqDd305Ca9ldj5Zjhtayho2fsQAtUCpY2fffN47W2MwWqapAD8OKb7hypssn

